<section class="bottom-panels">
  <app-collapsible-panel title="Validación" [open]="true" panelClass="bottom-panel-card">
    <ul>
      <li *ngFor="let error of validationErrors">{{ error }}</li>
    </ul>
    <p *ngIf="!validationErrors.length">Sin errores de validación.</p>
  </app-collapsible-panel>

  <app-collapsible-panel title="Logs de ejecución" [open]="true" panelClass="bottom-panel-card">
    <button type="button" (click)="resetConsole.emit()">Reset consola</button>
    <ul>
      <li *ngFor="let line of logs">{{ line }}</li>
    </ul>
  </app-collapsible-panel>
</section>
