<div class="app-shell" [class.dark-mode]="darkMode">
  <app-header
    [flowName]="flowName"
    [running]="running"
    [darkMode]="darkMode"
    [showTutorial]="showTutorial"
    [tutorialText]="tutorialText()"
    [demos]="demos"
    (flowNameChange)="flowName = $event"
    (newFlow)="newFlow()"
    (undo)="undo()"
    (redo)="redo()"
    (validateFlow)="validateFlow()"
    (runFlow)="runFlow()"
    (saveFlow)="saveFlow()"
    (toggleContentManager)="toggleContentManager()"
    (toggleMarkdownStudio)="toggleMarkdownStudio()"
    (toggleDarkMode)="toggleDarkMode()"
    (exportFlow)="exportFlow()"
    (exportFlowAsMarkdown)="exportFlowAsMarkdown()"
    (importFlow)="importFlow($event)"
    (nextTutorialStep)="nextTutorialStep()"
    (loadDemo)="loadDemo($event)"
    (closeTutorial)="closeTutorial()" />

  <app-flow-workspace
    [templates]="templates"
    [savedFlows]="savedFlows"
    [executionContext]="executionContext"
    [contextHistory]="contextHistory"
    [contextChangeLog]="contextChangeLog"
    [connections]="connections"
    [selectedConnectionId]="selectedConnectionId"
    [nodes]="nodes"
    [selectedNodeId]="selectedNodeId"
    [activeNodeIds]="activeNodeIds"
    [failedNodeIds]="failedNodeIds"
    [connectingFrom]="connectingFrom"
    [zoom]="zoom"
    [panX]="panX"
    [panY]="panY"
    [selectedNode]="selectedNode"
    [selectedConnection]="selectedConnection"
    [scriptDraftName]="scriptDraftName"
    [selectedScriptId]="selectedScriptId"
    [scriptLibrary]="scriptLibrary"
    [nodeLabel]="nodeLabel.bind(this)"
    [contextEntries]="contextEntries.bind(this)"
    [getNodeColor]="getNodeColor.bind(this)"
    [connectionPath]="connectionPath.bind(this)"
    (addNode)="addNode($event)"
    (loadFlow)="loadFlow($event)"
    (deleteFlow)="deleteFlow($event)"
    (selectConnection)="selectConnection($event)"
    (removeConnection)="removeConnection($event)"
    (onWheel)="onWheel($event)"
    (onNodeClick)="onNodeClick($event)"
    (onNodeDrag)="onNodeDrag($event.event, $event.node)"
    (startConnect)="startConnect($event.nodeId, $event.fromPort)"
    (zoomIn)="zoomIn()"
    (zoomOut)="zoomOut()"
    (resetZoom)="resetZoom()"
    (updateNode)="updateNode()"
    (scriptDraftNameChange)="scriptDraftName = $event"
    (saveCurrentScript)="saveCurrentScript()"
    (selectedScriptIdChange)="selectedScriptId = $event"
    (applySavedScript)="applySavedScript($event)"
    (deleteSavedScript)="deleteSavedScript($event)"
    (deleteSelectedNode)="deleteSelectedNode()"
    (updateConnection)="updateConnection()" />

  <app-markdown-studio-modal
    [showMarkdownStudio]="showMarkdownStudio"
    [markdownDraftTitle]="markdownDraftTitle"
    [markdownDraftContent]="markdownDraftContent"
    [markdownPreviewHtml]="markdownPreviewHtml"
    [markdownLibrary]="markdownLibrary"
    (toggleMarkdownStudio)="toggleMarkdownStudio()"
    (markdownDraftTitleChange)="markdownDraftTitle = $event"
    (markdownDraftContentChange)="markdownDraftContent = $event; renderMarkdownPreview()"
    (generateMarkdownFromFlow)="generateMarkdownFromFlow()"
    (saveMarkdownDraft)="saveMarkdownDraft()"
    (exportSelectedMarkdown)="exportSelectedMarkdown()"
    (loadMarkdownForEditing)="loadMarkdownForEditing($event)"
    (deleteMarkdown)="deleteMarkdown($event)" />

  <app-execution-panels
    [validationErrors]="validationErrors"
    [logs]="logs"
    (resetConsole)="resetConsole()" />

  <app-content-manager-modal
    [showContentManager]="showContentManager"
    [savedFlows]="savedFlows"
    [markdownLibrary]="markdownLibrary"
    [scriptLibrary]="scriptLibrary"
    [selectedNode]="selectedNode"
    (toggleContentManager)="toggleContentManager()"
    (loadFlow)="loadFlow($event)"
    (deleteFlow)="deleteFlow($event)"
    (openMarkdownStudio)="openMarkdownStudio($event)"
    (deleteMarkdown)="deleteMarkdown($event)"
    (applySavedScript)="applySavedScript($event)"
    (deleteSavedScript)="deleteSavedScript($event)" />
</div>
