:root {
  color-scheme: light;
  font-family: Inter, Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f4f6f8;
  color: #1f2933;
}
